.styled-header {
    border-bottom: 1px solid white; /* Borde inferior blanco */
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5); /* Resalta sin que parezca un rectángulo */
    z-index: 1000; /* Asegura que siempre esté encima */
    background-color: white;
  }
  
  /* Efecto de iluminación sutil al hacer scroll */
  .styled-header.scrolled {
    border-bottom: 3px solid rgba(255, 255, 255, 0.8); /* Se hace más visible al bajar */
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.7);
  }

  .btn-home{
    font-size: large;
  }
  /* Medium Screens (≥768px) */
  @media (min-width: 768px) {
    .btn-home {
      font-size: x-large;
    }
  }

  /* Large Screens (≥1024px) */
  @media (min-width: 1024px) {
    .btn-home {
      font-size: x-large;
    }
    .menu-icon {
      margin: 0 2rem 0 30rem;
    }
  }
  
  .center-box{
    margin-right: 5rem;
    font-size:larger;
  }