<%# Flash messages partial %>
<% flash.each do |type, message| %>
  <div class="flash flash--<%= type %> mb-4" 
       data-controller="removals" 
       data-action="animationend->removals#remove"
       role="alert">
    <%= message %>
  </div>
<% end %> 