<%# Flash messages partial %>
<% flash.each do |type, message| %>
  <div class="flash-message flash-message--<%= type %> mb-4" 
       data-controller="removals" 
       data-action="animationend->removals#remove">
    <%= message %>
  </div>
<% end %> 