<header class="styled-header flex justify-between items-center p-6">
  <!-- Left Side -->
  <div class="text-lg text-black font-bold mi-10">PuertoBJJ</div>

  <!-- Center (Only for large screens) -->
  <div class="show@lg flex gap">
    <div class="min-w-24 min-h-8 bg-black text-black flex items-center justify-center rounded p-4">Catalogo !</div>
    <div class="min-w-24 min-h-8 bg-black text-black flex items-center justify-center rounded p-4">Contactanos</div>
    <div class="min-w-24 min-h-8 bg-black text-black flex items-center justify-center rounded p-4">Feedback </div>
    <div class="min-w-24 min-h-8 bg-black text-black flex items-center justify-center rounded p-4">Clases </div>
  </div>

  <!-- Right Side -->
  <div class="mi-6">
    <%= lucide_icon('align-justify', class: 'w-6 h-6 text-black') %>
  </div>
</header>
