<div class="explore-container" >
    <div class="explore-section-1 ">
      <h1 class="font-bold text-4xl text-black m-10 p-10">Academia de Artes Marciales</h1>
    </div>
    <div class="explore-section-2">
      <h1 class="font-bold text-4xl text-black m-10 p-10">Catalogo</h1>
    </div>

    <div class="explore-section-3">
     <h1 class="font-bold text-4xl text-black m-10 p-10">Kids</h1>
    </div>

    <div class="explore-section-4">
      <h1 class="font-bold text-4xl text-black m-10 p-10">Feedback</h1>
    </div>

    <div class="explore-section-5">
      <h1 class="font-bold text-4xl text-black m-10 p-10">Horarios</h1>
    </div>

    <div class="explore-section-6">
      <h1 class="font-bold text-4xl text-black m-10 p-10">Galeria</h1>
    </div>

    <div class="explore-section-7">
      <h1 class="font-bold text-4xl text-black m-10 p-10"> Contactanos</h1>
    </div>


</div>
