<div class="w-full">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Media Library</h1>
    <%= link_to "Upload New Item", new_admin_media_item_path, class: "btn" %>
  </div>

  <div class="">
    <table class="">
      <thead class="">
        <tr>
          <th scope="col" class="">Preview</th>
          <th scope="col" class="">Title</th>
          <th scope="col" class="">Category</th>
          <th scope="col" class="">Uploaded On</th>
          <th scope="col" class="">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>
     
  </div>
</div> 