<turbo-stream action="replace" target="main">
  <template>
    <div class="text-center my-10">
      <h2 class="text-2xl font-bold color-black">¡Gracias por tu mensaje!</h2>
      <p>Nos pondremos en contacto pronto.</p>
    </div>
  </template>
</turbo-stream>
